<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header-container">
        <h1>SCHUL MEMES FI405</h1>
    </div>
    <div class="container">
        <div class="meme-grid">
            {% for meme in memes %}
                <div class="meme">
                    <img src="{{ url_for('static', filename='memes/' + meme) }}" alt="Meme">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="dropzone-container">
        <div id="dropzone">Ziehe dein Meme hierher</div>
    </div>
    <div id="help-container">
        <span id="help-text">Help?</span>
    <div id="tooltip">Erlaubt sind nur .jpg, .jpeg, .png und .gif Dateien!</div>
</div>
</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>
